.btn-dark-green .btn-dark-green.disabled {
    box-shadow: 0 2px 6px #c7d98d;
    background-color: #a5c451;
    border-color: #a5c451;
}
.btn--dark-green:focus,
.btn--dark-green.disabled:focus {
    background-color: #018844 !important;
}
.btn--dark-green:focus:active,
.btn--dark-green.disabled:focus:active {
    background-color: #018844 !important;
}
.btn--dark-green:active,
.btn--dark-green:hover,
.btn--dark-green.disabled:active,
.btn--dark-green.disabled:hover {
    background-color: #018844 !important;
}
